@model IEnumerable<i_Turtle.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
              <th>
                Risk Scale
            </th>
              <th>
                Contact Parent
            </th>
            <th>
              Child Name
            </th>
          
            <th>
                Last Handling Date
            </th>
            <th>
                Date of Birth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var color = "black";
            @if (item.RiscScale.ToLower() == "moderate") { color = "orange"; } else if (item.RiscScale.ToLower() == "high") { color = "red"; }
               ;
            <tr style="color: @color;">
           
            <td>
                @Html.DisplayFor(modelItem => item.RiscScale)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandlingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
